.points{
  font-size: 100px;
}

.leftLineBlue{
  border-left: 1px solid #34495e;
}

.leftLineWhite{
  border-left: 1px solid #f8f8f8;
}


.content-section-e.white.wow.fadeInLeftBig {
  height:20px;
}

.row{
  height:21px;
}
